@model DB_Pharmacy.Models.Employeemodel
@{
    ViewBag.Title = "Update Employe";
}

@helper Button(string type, string value)
{

    <input type="@type" value="@value" class="btn btn-theme">

}





<h2>Update Employee</h2>

@using (Html.BeginForm("Addemp", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <div class="cmxform form-horizontal style-form">
                    <div class="form-group ">
                        <label class="control-label col-lg-2">First Name</label>
                        <div class="col-lg-10">
                            @Html.HiddenFor(x => x.EID)
                            @Html.TextBoxFor(x => x.FirstName, null, new { @Class = "form-control" })
                            @Html.ValidationMessageFor(x => x.FirstName, null, new { @Class = "errormessage", style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-lg-2">Last Name</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.LastName, null, new { @Class = "form-control", id = "lastname", name = "lastname", type = "text" })
                            @Html.ValidationMessageFor(x => x.LastName, null, new { @Class = "errormessage", style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-lg-2">Address</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.eaddress, null, new { @Class = "form-control", placeholder = "" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="username" class="control-label col-lg-2">Birthday</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Birthday, null, new { @Class = "form-control", placeholder = "17th October,2000" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="password" class="control-label col-lg-2">Gender:</label>
                        <div class="col-lg-10">
                            @Html.RadioButtonFor(x => x.Gender, "Male", new { @Class = "" }) Male
                            @Html.RadioButtonFor(x => x.Gender, "Female", new { @Class = "" }) Female
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="confirm_password" class="control-label col-lg-2">Status</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Status, null, new { @Class = "form-control", placeholder = "Employee" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="email" class="control-label col-lg-2">Contactno</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Contactno, null, new { @Class = "form-control", placeholder = "035452639" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-lg-2">Nationality</label>

                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Nationality, null, new { @Class = "form-control", placeholder = "Pakistani" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Age</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Age, null, new { @Class = "form-control", placeholder = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-10 col-sm-2">
                            <label>Image Uploader</label>
                            @*<img @Url.Content(@Model.Imagepath).ToString() alt="image"/>*@
                            <input type="file" name="ImageFile" class="form-group" />
                        </div>
                   </div>
                    <div class="form-group">
                        <div class="col-lg-offset-10 col-sm-2">
                            @Button("Submit", "Update")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



